@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
body {
  background-color: #E30613;
  margin-top: 10%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  width: 600px;
  height: 300px;
  display: block;
}

body .container .date input {
  margin: 10px;
  padding: 20px;
  width: 90%;
  height: 30px;
  border: none;
  font-size: 30px;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  color: #FFFBFB;
  background-color: #E30613;
  border-radius: 30px;
  background: #E30613;
  -webkit-box-shadow: inset 7px 7px 14px #9f040d, inset -7px -7px 14px #ff0819;
          box-shadow: inset 7px 7px 14px #9f040d, inset -7px -7px 14px #ff0819;
}

body .container .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

body .container .time .mainHour {
  width: 60%;
}

body .container .time .mainHour input {
  border: none;
  width: 90%;
  height: 200px;
  font-size: 100px;
  font-family: "Comfortaa", sans-serif;
  text-align: inherit;
  color: #FFFBFB;
  background-color: #E30613;
  border-radius: 30px;
  background: #E30613;
  -webkit-box-shadow: inset 7px 7px 14px #9f040d, inset -7px -7px 14px #ff0819;
          box-shadow: inset 7px 7px 14px #9f040d, inset -7px -7px 14px #ff0819;
}

body .container .time .secondaryHour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  text-align: center;
}

body .container .time .secondaryHour .second input {
  border: none;
  width: 90%;
  height: 90px;
  font-size: 70px;
  font-family: "Comfortaa", sans-serif;
  text-align: inherit;
  color: #FFFBFB;
  background-color: #E30613;
  border-radius: 30px;
  background: #E30613;
  -webkit-box-shadow: inset 7px 7px 14px #9f040d, inset -7px -7px 14px #ff0819;
          box-shadow: inset 7px 7px 14px #9f040d, inset -7px -7px 14px #ff0819;
}

body .container .time .secondaryHour .ampm input {
  border: none;
  width: 90%;
  height: 90px;
  font-size: 60px;
  font-family: "Comfortaa", sans-serif;
  text-align: inherit;
  color: #FFFBFB;
  background-color: #E30613;
  border-radius: 30px;
  background: #E30613;
  -webkit-box-shadow: inset 7px 7px 14px #9f040d, inset -7px -7px 14px #ff0819;
          box-shadow: inset 7px 7px 14px #9f040d, inset -7px -7px 14px #ff0819;
}
/*# sourceMappingURL=style.css.map */